Repository GIScience/ohsome-quality-api, pull requests merged in 2022-04, with the labels that each got.

#296 Add minimal example using the new HTML output feature
  docs/examples/minimal-example.html
Labels: enhancement, website

#301 fix missing vcr decorators
  workers/tests/integrationtests/test_api_report_geojson_io.py
Labels: CI, tests

#298 Add missing error handling to the API
  CHANGELOG.md
  workers/ohsome_quality_analyst/api/api.py
Labels: api

#299 Improve API documentation and examples
  CHANGELOG.md
  docs/api.md
  workers/ohsome_quality_analyst/api/api.py
  workers/ohsome_quality_analyst/api/request_models.py
  workers/tests/integrationtests/test_api.py
Labels: documentation, api

#272 Add support for `GroupBy/boundaries` queries to the ohsome API client
  CHANGELOG.md
  workers/ohsome_quality_analyst/indicators/currentness/indicator.py
  workers/ohsome_quality_analyst/indicators/ghs_pop_comparison_buildings/indicator.py
  workers/ohsome_quality_analyst/indicators/ghs_pop_comparison_roads/indicator.py
  workers/ohsome_quality_analyst/indicators/mapping_saturation/indicator.py
  workers/ohsome_quality_analyst/indicators/poi_density/indicator.py
  workers/ohsome_quality_analyst/indicators/tags_ratio/indicator.py
  workers/ohsome_quality_analyst/ohsome/client.py
  workers/ohsome_quality_analyst/utils/definitions.py
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_api_indicator_geojson_io.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_api_report_geojson_io.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_cli_geojson_io.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_indicator_mapping_saturation.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_ohsome_client.yaml
  workers/tests/unittests/test_ohsome_client.py
  workers/tests/unittests/utils.py
Labels: enhancement

#308 Remove GDAL as dependency from docs
  docs/development_setup.md
Labels: documentation
