Repository GIScience/ohsome-quality-api, pull requests merged in 2023-04, with the labels that each got.

#519 feat(api): add `/metadata/topic` endpoint
  CHANGELOG.md
  workers/ohsome_quality_analyst/api/__init__.py
  workers/ohsome_quality_analyst/api/api.py
  workers/ohsome_quality_analyst/api/response_models.py
  workers/ohsome_quality_analyst/cli/cli.py
  workers/ohsome_quality_analyst/cli/options.py
  workers/ohsome_quality_analyst/definitions.py
  workers/ohsome_quality_analyst/ohsome/client.py
  workers/ohsome_quality_analyst/topics/models.py
  workers/tests/integrationtests/api/conftest.py
  workers/tests/integrationtests/api/test_api.py
  workers/tests/integrationtests/api/test_metadata_topic.py
  workers/tests/integrationtests/test_cli.py
  workers/tests/unittests/test_cli.py
  workers/tests/unittests/test_definitions.py
  workers/tests/unittests/test_load_topics.py
  workers/tests/unittests/test_topic.py
Labels: api

#541 fix: add timeout for ohsome API metadata requests
  CHANGELOG.md
  workers/ohsome_quality_analyst/ohsome/client.py
Labels: bug

#543 fix(api): replace attribution URL path
  CHANGELOG.md
  docs/api.md
  workers/ohsome_quality_analyst/definitions.py
  workers/tests/integrationtests/api/conftest.py
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_api_indicator.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_api_indicator_geojson_io.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_api_report.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_api_report_geojson_io.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_indicator.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_indicator_geojson_io.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_report.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_report_geojson_io.yaml
  workers/tests/unittests/test_api.py
Labels: bug, waiting for review, api

#550 fix(topic): doctors topic uses the correct healthcare filter
  CHANGELOG.md
  workers/ohsome_quality_analyst/topics/presets.yaml
Labels: bug, topic

#535 improve currentness indicator
  CHANGELOG.md
  workers/ohsome_quality_analyst/indicators/currentness/indicator.py
  workers/ohsome_quality_analyst/indicators/currentness/metadata.yaml
  workers/ohsome_quality_analyst/ohsome/client.py
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_cli.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_cli_geojson_io.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_currentness.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_indicator_currentness.yaml
  workers/tests/integrationtests/fixtures/vcr_cassettes/test_oqt.yaml
  workers/tests/integrationtests/indicators/test_currentness.py
  workers/tests/integrationtests/test_indicator_currentness.py
Labels: indicator

#555 feat(topic): add mapping-saturation to building_area topic
  workers/ohsome_quality_analyst/topics/presets.yaml
Labels: indicator, topic
