Repository GIScience/ohsome-quality-api, pull requests merged in 2023-06, with the labels that each got.

#580 fix: building completeness test bug
  workers/tests/integrationtests/indicators/test_building_completeness.py
Labels: tests

#593 fix(swagger): root_path is used for static files
  CHANGELOG.md
  workers/ohsome_quality_analyst/api/api.py
Labels: bug, documentation, api

#605 fix(swagger-ui): fix openapi.json to use the given root-path
  CHANGELOG.md
  workers/ohsome_quality_analyst/api/api.py
Labels: bug, documentation

#598 feat(api): always return featurecollection
  CHANGELOG.md
  workers/ohsome_quality_analyst/oqt.py
  workers/tests/integrationtests/api/test_indicator.py
  workers/tests/integrationtests/api/test_indicator_geojson_io.py
  workers/tests/integrationtests/test_oqt_geojson_io.py
Labels: enhancement, api

#614 docs(changelog): clean-up
  CHANGELOG.md
Labels: documentation
